<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>specific url mapping</h1>
    <a href="{% url 'app2:rohit' %}">navigate to rohit</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, consequuntur. Eveniet voluptatem repellendus aspernatur praesentium totam non soluta sint quisquam, iste id tempore. Natus voluptatem dolorem quisquam asperiores consequatur maxime?
    </p>
</body>
</html>